*.csv
*.tsv
*.json
*.jsonl
*.xml
*.parquet
*.feather
*.arrow
*.h5
*.hdf5
*.pkl
*.pickle
*.npy
*.npz
*.mat
*.db
*.sqlite
*.sqlite3
*.zip
*.tar
*.gz
*.7z
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.venv/
.joblib
venv/
.vscode/
data/
scripts/
datasets/
raw/
processed/
